@import 'reset';
@import 'variables';

body {
  background: $background_color;
  color: $color;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.db {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.db-wrapper {
  overflow: hidden;
}

.db-row {
  height: 100vh;
  width: 100%;
}

.db-row-2 {
  height: 50vh;
}

.db-col {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.db-col-2 {
  width: 50%;
}

.db-brick {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.db-brick-2 {
  height: 50%;
}

.db-absolute {
  position: absolute;
  height: 20%;
  width: 20%;
}

.hidden {
  opacity: 0;
}

.cb {
  box-sizing: border-box;
  padding: 20px;
  background: rgba(0, 0, 0, .6);
  color: #fff;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 20px;
  opacity: 1;
  transition: bottom 1s, opacity 1s;
  &.is-hidden {
    bottom: -150px;
    opacity: 0;
    &:hover {
      bottom: 0;
    }
  }
  z-index: 100;
}

.cb-input {
  color: #fff;
  border: 1px solid #666;
  background: none;
  font-size: 20px;
  width: 140px;
  text-align: right;
  margin-left: 10px;

}