@import 'reset';
@import 'variables';

body {
  background: #000;
  color: $color;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

@supports (display: flex) {
  body { background-color: $background_color; }
}

.db {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.db-wrapper {
  overflow: hidden;
  height: 100vh;
  display: block;
}

.db-row {
  height: 100vh;
  width: 100%;
}

.db-row-2 {
  height: 50vh;
}

.db-col {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.db-col-2 {
  width: 50%;
}

.db-brick {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.db-brick-2 {
  height: 50%;
}

.db-absolute {
  position: absolute;
  height: 20%;
  width: 20%;
}

.db.show {
    animation: fadeIn 2s;
    animation-fill-mode: both
}
@keyframes fadeIn {
    from {
        transform:scale(0.7);
        opacity:0
    }
    to {
        transform:scale(1);
        opacity:1
    }
}

.db.hidden {
    animation: fadeOut 2s;
    animation-fill-mode: both
}
@keyframes fadeOut {
    from {
        transform: scale(1);
        opacity:1
    }
  to {
        transform:scale(1.7);
        opacity:0
    }
}

.cb {
  box-sizing: border-box;
  padding: 20px;
  background: rgba(0, 0, 0, .6);
  color: #fff;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 20px;
  opacity: 1;
  transition: bottom 1s, opacity 1s;
  &.is-hidden {
    bottom: -150px;
    opacity: 0;
    &:hover {
      bottom: 0;
    }
  }
  z-index: 100;
}

.cb-input {
  color: #fff;
  border: 1px solid #666;
  background: none;
  font-size: 20px;
  width: 140px;
  text-align: right;
  margin-left: 10px;
}

.cb-toggler {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 101;
  border: 0;
  background: #dd3131;
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
  opacity: 0.2;
  transition: opacity 0.5s;
  border-radius: 50px;
  padding: 8px 10px 4px;
  &:hover {
    opacity: 1;
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}