@import 'reset';
@import 'variables';

body {
  background: #000;
  color: $color;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.btn {
  border: 0;
  background: #fff;
  padding: 5px 10px;
}

.btn-playpause {
  font-size: 20px;
  padding: {
    top: 20px;
    bottom: 20px;
  }
  width: 100px;
  font-weight: bold;
  &:active {
    color: purple;
  }
}

.db {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 2s;
}

.db-wrapper {
  overflow: hidden;
  height: 100vh;
  display: block;
}

.db-row {
  height: 100vh;
  width: 100%;
}

.db-row-2 {
  height: 50vh;
}

.db-col {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.db-col-2 {
  width: 50%;
}

.db-brick {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.db-brick-2 {
  height: 50%;
}

.db-absolute {
  position: absolute;
  height: 20%;
  width: 20%;
}

.db.show {
  opacity: 1;
}

.db.hidden {
  opacity: 0;
}

.cb {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  opacity: 0;
  font-size: 20px;
  z-index: 100;
  padding: 20px 20px 20px 80px;
  transition: 0.7s opacity;
  background: rgba(0,0,0,.5);
  color: #fff;
  box-shadow: 2px 4px 10px #000;
  &:hover {
    opacity: 1;
  }
}

.cb-input {
  color: #fff;
  border: 1px solid #666;
  background: none;
  font-size: 40px;
  width: 140px;
  text-align: right;
  margin-left: 10px;
}

.cb-toggler {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 101;
  border: 0;
  background: #dd3131;
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
  opacity: 0.2;
  transition: opacity 0.5s;
  border-radius: 50px;
  padding: 8px 10px 4px;
  &:hover {
    opacity: 1;
  }
}

.cb-setting {
  float: left;
  padding: 20px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}