body {
  background: #ddd;
  color: #313131;
  padding: 0;
  margin: 0; }

.db {
  display: -webkit-flex;
  display: flex;
  height: 100vh;
  width: 100%;
  -webkit-align-content: stretch;
  align-content: stretch;
  -webkit-flex-direction: column;
  flex-direction: column; }

.db-row {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row; }

.db-col {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }

.db-tile {
  -webkit-flex: 1;
  flex: 1;
  background-size: cover; }

.db-absolute {
  position: absolute;
  height: 20%;
  width: 20%; }

.hidden {
  display: none; }
