{% load static %}
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Muro</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <symbol id="icon-pause" viewBox="0 0 32 32">
          <title>pause</title>
          <path d="M11 0h-6c-0.553 0-1 0.448-1 1v30c0 0.553 0.447 1 1 1h6c0.553 0 1-0.447 1-1v-30c0-0.552-0.447-1-1-1zM27 0h-6c-0.553 0-1 0.448-1 1v30c0 0.553 0.447 1 1 1h6c0.553 0 1-0.447 1-1v-30c0-0.552-0.447-1-1-1z"></path>
        </symbol>
        <symbol id="icon-play" viewBox="0 0 32 32">
          <title>play</title>
          <path d="M6 0v32l20-15.977-20-16.023z"></path>
        </symbol>
      </defs>
    </svg>
    <!-- React app enters here: -->
    <div id="app"></div>
  </body>
  <script src="{% static '/js/project.js' %}"></script>
</html>

